.post-author,
.post-date {
}
.post-content {
}

.post-author {
  font-style: italic;
  font-weight: 700;
}

.post-date {
  font-style: italic;
}

.post-followup {
  margin-top: 25px;
  font-style: italic;
}

.post-image {
  max-height: 200px;
  margin-bottom: 25px;
}


.post-content pre code.hljs {
  padding: 0.7rem;
  color: var(--pico-code-color);
}
.post-content p code {
  // background-color: var(--pico-background-color);
  padding: 0.175rem;
}


.post-content pre code.language-mermaid {
  display: none;
}
.post-content pre code.language-mermaid[data-processed="true"] {
  display: block;
}
