@import "./styles";
@import "./history/styles";
@import "./posts/post-styles";
@import "./posts/posts-styles";

h1, h2, h3, h4, h5 {
  color: #777;
}

img {
  max-width: 100%;
}

body {
  color: #777;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
