
.site-header {
  padding: 10px 10px 5px;
  /* border-bottom: 5px solid navy; */
}

.site-header h1 a {
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav__menu {
  list-style: none;
  display: flex;

}

.site-nav__menu-item {
}

.site-nav__menu-item a {
  border-radius: 0;
}

.site-main {
  flex-grow: 1;
  max-height: 100%;
  overflow: auto;
}

.site-container {
  max-width: 700px;
  margin: 0 auto;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  height: 150px;
  border-radius: 50%;
}

.about-article {
}

.greeting {
  font-weight: 700;
}