.work-item-list {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 0 16px;
}

.work-description {
  height: 70px;
}

.work-item {
  padding: 24px 24px 24px 24px;
}

@media (min-width: 400px) {
  .work-item {
    // margin: 8px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-row-gap: 24px;
    .work-info {
      display: grid;
      grid-template-rows: 1fr 2fr 1fr;
    }
    .work-logo {
      img {
        height: 75px;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 400px) {
  .work-item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    .work-logo {
      img {
        max-width: 100%;
        height: 125px;
        object-fit: contain;
        margin-bottom: 24px;
      }
    }
    .work-info {
      display: grid;
      grid-template-rows: auto 1fr auto;
    }
  }
}
