.work-item-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.work-item {
  max-width: 230px;
  margin: 50px 0;
  padding: 0 15px;
}

@media (max-width: 710px) {

  .work-item {
    /* text-align: center; */
  }
}

@media (max-width: 400px) {
  .work-item {
    width: 100%;
    text-align: center;
    padding: 25px 10px;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .work-item:last-child {
    border-bottom-width: 0px;
  }

  .work-description {
    padding: 5px 15px;
  }
}

.work-item img {
  max-height: 75px;
}

.work-company-name {
  margin-top: 25px;
  font-size: 1.1rem;
}